[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = teyandeymain1
	email = teyandey419@gmail.com
[credential]
	helper = "!f() { /home/python_with_docker/.vscode-server/bin/19e0f9e681ecb8e5c09d8784acaa601316ca4571/node /tmp/vscode-remote-containers-99254539-683e-4a0f-a1d1-d779333ae82a.js git-credential-helper $*; }; f"
