[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = teyandeymain1
	email = teyandey419@gmail.com
[credential]
	helper = "!f() { /home/python_with_docker/.vscode-server/bin/7adae6a56e34cb64d08899664b814cf620465925/node /tmp/vscode-remote-containers-8c101c1e-6013-432a-b7f7-a73512a089bf.js git-credential-helper $*; }; f"
